#page-container{
	height:600px;
	width:100%;
}
#r-result{
	width:100%;
}
/*.page-content .breadcrumb{*/
	/*margin-top: 8px;*/
/*}*/
.page-content #page-container{
	margin-top: 20px;
}
.page-content #page-container .search{
	text-align: left;
	width: 90%; 
	margin: auto;
	margin-bottom: 20px;
}
.page-content #page-container .search button{
	height: 45px;
	width:100px;
	font-size: 16px;
	display: inline-block;
	background-color: #00acac;
	border: 0px;
	vertical-align: initial;
}
.page-content #page-container .ap-table{
	margin-bottom:10px;
}

.page-content #page-container .ap-table table{
	margin-top:20px;
	background-color: white;
	margin: auto;
	width:90%;
}
.page-content #page-container .ap-table table thead{
	background:#e6e9ed;
}
.page-content #page-container .ap-table table tbody button{
	border: none;
	background-color: white;
}
.page-content #page-container .ap-table table tbody td a{
	font-size:16px;
	color:#428bca;
}
.search input{
    height: 45px;
    width:300px;
    display: inline-block;
}
/*begin for pop mask*/
.mask {    
    position: absolute; top: 0px; 
    filter: alpha(opacity=80); 
    background-color: #1d3649;  
    z-index: 1002; left: 0px;  
    box-shadow:inset 0px 1px 3px 0px rgba(0,0,0,0.50);
    opacity:0.5; 
    -moz-opacity:0.5;  
}
.loading {
    position: absolute; top: 0px;
    filter: alpha(opacity=80);
    background-color: #222222;
    z-index: 1002; left: 0px;
    box-shadow:inset 0px 1px 3px 0px rgba(0,0,0,0.50);
    opacity:0.5;
    -moz-opacity:0.5;
}
.loading img{
    position: absolute;
    bottom: 0px;
    top: 0px;
    left: -140px;
    right: 0px;
    margin: auto;
    display: none;
}

.model{  
    position: absolute; 
    z-index: 1003;   
    width:320px; 
    height:320px; 
    text-align:center;  
    background-color:#0066FF; 
    display: none;  
}  
/*end for pop mask*/

/*begin for pop*/
.pop{  
    display: none;  
    z-index: 1003;
    background:#ffffff;
    box-shadow:0px 1px 1px 0px rgba(0,0,0,0.20);
    border-radius:4px;
    width:460px;
    height:165px;
} 
.pop .head{  
    box-shadow:0px 1px 1px 0px rgba(0,0,0,0.20);
    width:460px;
    height:40px;
} 
.pop .head span{  
    font-family:PingFangSC-Semibold;
    font-size:16px;
    color:#000000;
    line-height: 40px;
    margin-left: 15px;
}
.pop .body .button-group{  
    position: absolute;
    right:10px;
    bottom:10px;
} 
.pop .body button{  
    width:70px;
    height:32px;
}


.del-ap{  
    width:460px;
    height:165px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;

} 
.del-ap .head{  
    background:#da4453;
} 

.del-ap .body{  
    width:460px;
    height:125px;
} 
.del-ap .body .content{  
    font-family:PingFangSC-Light;
    font-size:16px;
    color:#434a54;
    line-height: 90px;
    margin-left: 50px;
} 

.add-ap{
	 width:460px;
	 height:320px;
     position: absolute;
     top: 0px;
     bottom: 0px;
     left: 0px;
     right: 0px;
     margin: auto;
}
.add-ap .head{
	 background:#00acac; 
}
.add-ap .body{
	width:460px;
	height:280px;
    padding: 20px;
}
.add-ap .body label{
	font-family:SFNSText-Regular;
	font-size:14px;
	color:#000000;
	margin-right: 20px;
}
.add-ap .body input{
	background:#ffffff;
	border:1px solid #a9b2bd;
	border-radius:4px;
	width:200px;
	height:32px;
}
.add_item{
    margin-bottom: 10px;
}
.add_item label{
    width: 20%;
}
.add-ap_alert{
    color: #b94a48;
    background-color: #f2dede;
    width: 280px;
    display: none;
}
a:focus {outline: none;}
/* 通用表格显示 */
table, th, td {
    font: 12px Arial,Helvetica,sans-serif,'宋体';
    margin: 0;
    padding: 0
}
table{
    border-spacing: 0;
    border-collapse: collapse;
}
.datatable {
    width: 100%;
    border-style: none;
    background-color: #fff;
    margin-bottom: 20px;
    text-align: left;
}
.datatable th, .datatable td {
    padding: 5px;
    line-height: 30px
}
.datatable thead th {
    background-color: #eee;
    margin: 0;
    text-align: left;
    border-top: 1px solid #cfcfcf;
    border-bottom: 1px solid #cfcfcf;
    font-weight: 500
}
.datatable tbody td {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    table-layout:fixed;
    word-break:break-all;
    font-weight: 400
}
.datatable tbody tr.evenrow td {
    background-color: #f4f4f4;
}
.datatable tfoot td {
    background-color: #fafafa;
    text-align: right;
    border-bottom: 1px solid #cfcfcf;
}
/*表格分页列表*/
.datatable td.paging a {
    border: 1px solid #eee;
    color: #444;
    margin: 4px;
    padding: 2px 7px;
    text-decoration: none;
    text-align:center;
}
/*表格分页当前页*/
.datatable td.paging a.current {
    background: #eee;
    border: 1px solid #CFCFCF;
    color: #444;
    font-weight: bold;
}
.datatable td.paging a.current{
    border: 0;
    cursor: auto;
    background:none
}
 
/*end for pop*/

.alert{
    position: absolute;
    width: 80%;
    left: 0px;
    right: 0px;
    margin: auto;
    display: none;
}
.alert-error{
    color: #b94a48;
    background-color: #f2dede;
    border-color: #eed3d7;
}
