.top-content {
	width: 85%;
    margin: 0 auto 20px auto;
}

.BMap_bubble_title {
	font-size: 20px;
	margin-bottom: 10px;
}
.alert{
	position: absolute;
	right: 0px;
	margin: auto;
	display: none;
	top: 100px;
	left: 200px;
	width: 60%;
	z-index: 3000;
}
.alert-error{
	color: #b94a48;
	background-color: #f2dede;
	border-color: #eed3d7;
}
.mask {
	position: absolute; top: 0px;
	filter: alpha(opacity=80);
	background-color: #1d3649;
	z-index: 1002; left: 0px;
	box-shadow:inset 0px 1px 3px 0px rgba(0,0,0,0.50);
	opacity:0.5;
	-moz-opacity:0.5;
}
#macId{
    height: 45px;
    width:300px;
    display: inline-block;
    margin-left: 10px;
    margin-bottom: 5px;
}
#btn-macInfo {
	height: 45px;
	margin-bottom: 5px;
	background: #00acac;
	font-size:16px;
	color: #fff;
}